$colour-primary: #7ed56f;
$colour-primary-light: #55c57a;
$colour-primary-dark: #28b485;
$colour-gray-dark: #777;
$colour-gray-dark-2: #999;
$colour-white: #fff;
$colour-black: #000;
$colour-gray-light-1: #f7f7f7;
$colour-gray-light-2: #eee;

$colour-secondary-light: #ffb900;
$colour-secondary-dark: #ff7730;

$colour-tertiary-light: #2998ff;
$colour-tertiary-dark: #5643fa;

$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 5rem;

$default-font-size: 1.6rem;
